runtime: nodejs10
env: standard
env_variables:
  API_URL: ''
  PORT: 8080
  NODE_ENV: 'development'
  PUBLIC_URL: ''
  DB_DIALECT: 'postgres'
  DB_HOST: ''
  DB_USER: ''
  DB_PASS: ''
  DB_NAME: ''
  GCLOUD_PROJECT: ''
  GCLOUD_BUCKET: ''
beta_settings:
  cloud_sql_instances: []
